{% extends 'admin/master.html' %}

{% block body %}
 <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">

  <p>Aplikacja działa: {{ is_system_on }}</p>
  <div class="box-line">
  <form action="{{url_for('on_off_button')}}" method="POST">
    <button name="onOffButton" type="submit" value="refresh">Włącz/Wyłącz</button>
  </form>
  <form action="{{url_for('reset_scheduler_button')}}" method="POST">
    <button class="allpad" name="resetSchedulerButton" type="submit" value="refresh">Odśwież zadania</button>
  </form>
  <form action="{{url_for('refresh_alarms_button')}}" method="POST">
    <button name="refreshAlarmsButton" type="submit" value="refresh">Odswież alarmy</button>
  </form>
</div>
  <form action="{{ url_for('change_photo_freq') }}" method="post">
    Ustaw częstotliwość robienia zdjęć: <br/>
    <div class="box-line">
    <div id="min">Minuty:</div><input type="number" name="minuty"/> 
    <div class="allpad">Godziny: <input type="number" name="godziny"/></div>
  </div>
    <button name="photoFreqButton" type="submit" value="refresh">Ustaw</button>
  </form>

  <form action="{{ url_for('set_gasflow') }}" method="post">
    Zadaj przepływ gazu: <br/>
    Wartość: <input type="number" name="value">
    ID: <input type="number" name="id"> <br/>
    <button name="setGasflowButton" type="submit" value="refresh">Ustaw</button>
  </form>

  <form action="{{url_for('get_gasflow_button')}}" method="POST">
  <p>Bieżący przepływ gazu: {{ get_gas_flow }}</p>
    <button name="getGasflowButton" type="submit" value="refresh">Odczytaj przepływ</button>
  </form>

  <img src= "{{url_for('static',filename = 'most_recent_photo.jpg')}}" width="100%" height="100%">
{% endblock %}